<div class="shop-map">
<!-- Googleマップのiframeコードを記載　ここから -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d740.4620928557979!2d139.7107453616973!3d35.67375147742733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cbd452ab4dd%3A0xed337931748fc412!2z44CSMTUwLTAwMDEg5p2x5Lqs6YO95riL6LC35Yy656We5a6u5YmN77yS5LiB55uu77yR77yW4oiS77yR77yWIEtVUk9TVTPjg5Pjg6sgMUY!5e0!3m2!1sja!2sjp!4v1692929061656!5m2!1sja!2sjp" width="1600" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<!-- Googleマップのiframeコードを記載　ここまで -->
</div>

{% schema %}
  {
    "name": "Shop Map",
    "presets": [
      {
        "name": "Shop Map"
      }
    ]
  }
{% endschema %}